body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #d9c9c9;
    font-family: Arial, sans-serif;
}

/* Container principal do Player */
.audio-player {
    background-color: #e8e0e0;
    width: 350px; /* Largura retangular */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Capa da Música */
.capa {
    width: 100%;
    height: 300px; /* Altura para dar forma retangular ao player */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.capa img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

/* Detalhes da Música */
.detalhes-musica {
    margin-bottom: 20px;
}

.detalhes-musica .titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detalhes-musica .artista {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0 0;
}

/* Barra de Progresso e Tempo */
.progresso-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#barra-progresso {
    flex-grow: 1;
    margin: 0 10px;
    height: 6px;
    /* Estilos personalizados para o input range */
    -webkit-appearance: none;
    appearance: none;
    background: #c9c2c2;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilização do "thumb" (o círculo que você arrasta) */
#barra-progresso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #63696f;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.tempo-atual, .duracao-total {
    font-size: 0.8em;
    color: #777;
}

/* Controles */
.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-controle {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    padding: 10px;
    transition: color 0.2s;
    font-size: 1.2em;
}

.btn-controle:hover {
    color: #007bff;
}

.btn-controle.principal {
    font-size: 2.5em;
    color: #007bff;
    margin: 0 15px;
}

.btn-controle.principal:hover {
    color: #0056b3;
}

/* Controle de Volume */
.volume-container {
    display: flex;
    align-items: center;
    max-width: 120px;
    flex-grow: 1;
    margin-left: 10px;
}

#volume-range {
    width: 80px;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: #63696f4b;
    border-radius: 3px;
    cursor: pointer;
}

#volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5b636d72;
    cursor: pointer;
}