body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #33413fda;
    font-family: Arial, sans-serif;
}

.video-player {
    background-color:  #bbd0cda8;
    width: 500; /* Largura retangular */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video-container-wrapper {
    position: relative; 
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    overflow: hidden; 
    margin-bottom: 15px; 
}

.video-player video {
    width: 100%; 
    height: auto; 
    display: block;
    border-radius: 8px;
    transition: filter 0.3s ease;
}

.video-link-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    visibility: hidden; 
    
    transition: 
        opacity 0.3s ease, 
        visibility 0.3s ease;
    
    transition-delay: 0s; 
    
    text-decoration: none; 
    cursor: pointer;
    font-size: 1.1em;
}


.video-link-overlay .fas.fa-external-link-alt {
    margin-bottom: 5px;
    font-size: 1.5em;
}


.video-container-wrapper:hover .video-link-overlay {
    opacity: 1; 
    visibility: visible;

   
    transition-delay: 1s; 
}


.video-container-wrapper:hover video {
    filter: brightness(60%);
    transition-delay: 1s;
}


.capa {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.capa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalhes-video {
    margin-bottom: 20px;
}

.detalhes-video .titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

.detalhes-video .artista {
    font-size: 0.9em;
    color: #2d2a2a;
    margin: 5px 0 0;
}

.progresso-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#barra-progresso {
    flex-grow: 1;
    margin: 0 10px;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: #c9c2c2;
    border-radius: 3px;
    cursor: pointer;
}

#barra-progresso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2a766a;
    cursor: grab;
    box-shadow: 0 0 5px rgba(2a766a, 255, 255, 0.5);
}

.tempo-atual, .duracao-total {
    font-size: 0.8em;
    color: #777;
}

.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-controle {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    padding: 10px;
    transition: color 0.2s;
    font-size: 1.2em;
}

.btn-controle:hover {
    color: #4ddfc9;
}

.btn-controle.principal {
    font-size: 2.5em;
    color: #2a766a;
    margin: 0 15px;
}

.btn-controle.principal:hover {
    color: #4ddfc9;
}

/* Controle de Volume */
.volume-container {
    display: flex;
    align-items: center;
    max-width: 120px;
    flex-grow: 1;
    margin-left: 10px;
}

#volume-range {
    width: 80px;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: #33413fda;
    border-radius: 3px;
    cursor: pointer;
}

#volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2a766a;
    cursor: grabbing;
}